@use './breakpoints' as *;

:root {
    --font-primary: 'Inter', Arial, sans-serif;
    --font-secondary: 'Inter', Arial, sans-serif;
    --font-display: 'Inter', Arial, sans-serif;
    --font-mono: 'Space Mono', monospace;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.5rem;
    --text-2xl: 2.75rem;
    --text-3xl: 4rem;

    --lh-tight: 1.00;
    --lh-normal: 1.50;
    --lh-loose: 1.60;
}

.headline1 {
    font-family: var(--font-display);
    font-size: var(--text-3xl);
    line-height: 1.00;
    letter-spacing: -1px;
    font-feature-settings: "ss01", "ss03", "ss10", "ss11", "ss12";

    @include max-md {
        font-size: 3rem;
        letter-spacing: -0.75px;
    }

    @include max-sm {
        font-size: 2.25rem;
        letter-spacing: -0.5px;
    }
}

.headline2 {
    font-family: var(--font-display);
    font-size: var(--text-2xl);
    line-height: 1.00;
    letter-spacing: -2.4px;
    font-feature-settings: "ss01", "ss03", "ss10", "ss11", "ss12";

    @include max-md {
        font-size: 2rem;
        letter-spacing: -1.6px;
    }

    @include max-sm {
        font-size: 1.75rem;
        letter-spacing: -1.2px;
    }
}

.headline3 {
    font-family: var(--font-display);
    font-size: var(--text-xl);
    line-height: 1.10;
    letter-spacing: -1.1px;
    font-feature-settings: "ss01", "ss03", "ss10", "ss11", "ss12";
}


.subhead1a {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.40;
    letter-spacing: -0.4px;
    font-feature-settings: "ss01", "ss03", "ss10", "ss11", "ss12";

    @include max-sm {
        font-size: 1.125rem;
        letter-spacing: -0.3px;
    }
}

.subhead2a {
    font-family: var(--font-primary);
    font-size: var(--text-md);
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: -0.16px;
    font-feature-settings: "ss03", "ss10", "ss11", "ss12";

    @include max-sm {
        font-size: var(--text-sm);
        letter-spacing: -0.14px;
    }
}

.subhead1b {
    font-family: var(--font-primary);
    font-size: var(--text-md);
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: -0.16px;
    font-feature-settings: "ss03", "ss10", "ss11", "ss12";
    color: var(--color-warm-charcoal);

    @include max-sm {
        font-size: var(--text-sm);
        letter-spacing: -0.14px;
    }
}

.subhead2b {
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: -0.14px;
    font-feature-settings: "ss03", "ss10", "ss11", "ss12";
    color: var(--color-warm-silver);
}

.caption {
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: -0.14px;
    font-feature-settings: "ss03", "ss10", "ss11", "ss12";
    color: var(--color-warm-silver);
}

.link {
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    font-feature-settings: "ss03", "ss10", "ss11", "ss12";
}